<!DOCTYPE html>
<html>
<head>
<title>Smart PDFs</title>
</head>
<body>

<h1>Input files and their respective page ranges</h1>

<form action="" method="post">
    <label for="file_name1">Enter file path: </label>
    <input id="file_name1" type="text" name="name_field1" placeholder="D:\xyz.pdf">
	
	<label for="page_range1">Enter page range: </label>
    <input id="page_range1" type="number" name="page_field1" placeholder="1-5,7">
	<br>
	<br>
	
	<label for="file_name2">Enter file path: </label>
    <input id="file_name2" type="text" name="name_field2" placeholder="D:\xyz.pdf">
	
	<label for="page_range2">Enter page range: </label>
    <input id="page_range2" type="number" name="page_field2" placeholder="1-5,7">
	
	<br>
	<br>
    <input type="submit" value="Upload">
	
</form>

</body>
</html>
